/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /** Background color **/
  --ion-background-color: #019c5e;

  --ion-border-style: solid;
  --ion-border-color: #fdd923;

  /** primary **/
  --ion-color-primary: #fdd923;
  --ion-color-primary-rgb: 253, 217, 35;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #fdd923;
  --ion-color-primary-tint: #fdd923;

  --ion-text-color: #fff;

}